@model CreateEmployeeDto
@{
    ViewData["Title"] = "Create";
    var department = new SelectList(ViewData["department"] as IEnumerable<Department>, "Id", "Name");
}

<h1 class="my-3">Create Employee</h1>

<form asp-action="Create" enctype="multipart/form-data">

    <partial name="EmployeePartialView/_CreateEditPartialView" />

    <div class="my-3">
        <input type="submit" class="btn btn-primary" value="Create" />
        <a asp-action="Index" class="btn btn-light">Back To Page</a>
    </div>
    
</form>
@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

