@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Remove Employee</h1>

<form asp-action="Delete">
    <partial name="EmployeePartialView/_DetailsDeletePartialView" />

    <input asp-for="ImageName" hidden/>
    <div class="my-3">
        <input type="submit" class="btn btn-outline-danger" value="Delete"/>
        <a asp-action="Index" class="btn btn-light">Back To Page</a>
    </div>
</form>