@model IEnumerable<RoleToReturnDto>;

<thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Details</th>
        <th>update</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <partial name="_buttonsPartialView" model="@item.Id?.ToString()" />
        </tr>
    }
</tbody>