@model RoleToReturnDto
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="py-3">Edit Role</h1>


<form asp-action="Edit" enctype="multipart/form-data">
    <partial name="RolePartialView/_CreateEditPartialView" />

    <div class="my-3">
        <a asp-action="AddOrRemoveUsers" asp-route-roleId="@Model.Id" class="btn btn-Success">Add Or Remove Users</a>
        <input type="submit" class="btn btn-outline-success" value="Confirm" />
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </div>
</form>
@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

