@model IEnumerable<RoleToReturnDto>;
@{
    ViewData["Title"] = "Index";
}

<h1>All Roles</h1>

<form>
    <div class="py-2">
        <input id="InputVal" placeholder="Search By Role Name" data-search-url="/Role/Search" data-target-table="table" name="SearchInput" class="form-control" />
    </div>
</form>


<a asp-action="Create" asp-controller="Role" class="btn btn-primary my-3">Create Role</a>

@if(!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="m-3 alert alert-info">
        <p>@TempData["Message"]</p>
    </div>  
}

@if(Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="overflow-hidden table table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    @if(User.IsInRole("Admin"))
                    {
                        <th>Details</th>
                        <th>update</th>
                        <th>Delete</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        @if(User.IsInRole("Admin"))
                        {
                        <partial name="_buttonsPartialView" model="@item.Id?.ToString()" />
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

   
}
else
{
    <h4 class="mt-4 alert alert-danger"> There Are No Roles :(</h4>
}

<script>

    $(document).ready(function () {
        const searchBar = $('#RoleInputVal');
        const table = $('table');

        searchBar.on('keyup', function (event) {
            var searchValue = searchBar.val();
                            console.log("hello frol role");

            $.ajax({
                url: '/Role/Search',
                type: 'Get',
                data: { SearchInput: searchValue },
                success: function (result) {
                    table.html(result);
                },
                error: function (xhr, status, error) {
                console.log(error);
                }
            });
        });
    });

</script>
