@model UserToReturnDto

<div>
    <label asp-for="Name" class="col-form-label">Name</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div>
    <label asp-for="FirstName" class="col-form-label">FirstName</label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>

<div>
    <label asp-for="LastName" class="col-form-label">LastName</label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>

<div>
    <label asp-for="Email" class="col-form-label">Email</label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>