@model IEnumerable<Department>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Code</td>
        <td>@item.Name</td>
        <td>@item.CreateAt</td>
        <partial name="_buttonsPartialView" model="@item.Id.ToString()" />
    </tr>
}
        