
@{
    ViewData["Title"] = "CheckYourPhone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="w-50 mx-auto vh-100 d-flex justify-content-center align-items-center">
    <div class="text-center w-100 shadow-lg rounded">
        <h1 id="welcome" class="p-5">check Your Phone</h1>
    </div>
</div>

