@model ForgetPasswordDto
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container">
	<div class="signup-container text-center">
		@if (!ViewData.ModelState.IsValid)
		{
			<div asp-validation-summary="All" class="m-3 alert alert-danger"></div>
		}
		<form asp-action="SendResetPasswordSms">

			<div class="mb-3">
				<input asp-for="Email" class="form-control" placeholder="Email">
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>

			<input type="submit" value=" Reset Password" class="btn btn-success w-100 mt-3"/>

		</form>
		<p class="mt-3">Don’t have an Account? <a asp-action="SignUp" class="fw-bold">Sign Up Now!</a></p>
	</div>
</div>

