@model ResetPasswordDto
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container">
	<div class="signup-container text-center">
		@*
			@if (!ViewData.ModelState.IsValid)
		{
			<div asp-validation-summary="All" class="m-3 alert alert-danger"></div>
		}
		*@
		<form asp-action="ResetPassword">

			<div class="mb-3">
				<input asp-for="NewPassword" class="form-control" placeholder="New Password">
				<span asp-validation-for="NewPassword" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<input asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm New Password">
				<span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
			</div>

			<button type="submit" class="btn btn-success w-100 mt-3">Confirm</button>

		</form>
	</div>
</div>
