<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] Form</title>
	<link rel="stylesheet" href="~/css/AuthStyle.css" type="text/css" media="all" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
	<!-- main -->
	
		<h1 class="text-center pt-5">@ViewData["Title"]</h1>
		
		@RenderBody()

		<!-- copyright -->
		<div class="text-center">
			<p>© 2018 Owner @ViewData["Title"] Form. All rights reserved</a></p>
			
		</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	@await RenderSectionAsync("ValidationSection", required: false);
</body>
</html>