@model string

<td><a class="btn btn-warning" asp-route-id="@Model" asp-action="Details">Details</a></td>
<td><a class="btn btn-success" asp-route-id="@Model" asp-action="Edit">Update</a></td>
<td><a class="btn btn-danger" asp-route-id="@Model" asp-action="Delete">Delete</a></td>