@model string
<td>
    <div class="d-flex gap-2 justify-content-around">
        <a asp-route-id="@Model" asp-action="Details" class="btn btn-success btn-sm action-btn"><i class="bi bi-eye"></i></a>
        <a asp-route-id="@Model" asp-action="Edit" class="btn btn-warning btn-sm action-btn"><i class="bi bi-pencil-square"></i></a>
        <a asp-route-id="@Model" asp-action="Delete" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
    </div>
</td>