@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        overflow: hidden;
    }

    .full-height {
        height: calc(100vh - 56px);
    }
</style>

<div class="d-flex justify-content-center align-items-center full-height">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>