@model Department 
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Department :(</h1>

<form asp-action="Delete">
    <partial name="DepartmentPartialView/_DetailsDeletePartialView" />
    <div>
        <input type="submit" name="name" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-light">Back To Page</a>
    </div>
</form>

