@model Department
@{
    ViewData["Title"] = "Details";
}
    

<h1>Details Page</h1>

<form>

    <partial name="DepartmentPartialView/_DetailsDeletePartialView" />

    <div class="my-3">
        <button asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</button>
        <a asp-action="Index" class="btn btn-light">Back To Page</a>
    </div>

   
</form>


