@using Company.Owner.DAL.Models
@model IEnumerable<Department>

@{
    ViewData["Title"] = "Index";
}

<h1>All Department</h1>


<form>
    <div class="py-2">
        <input id="InputVal" placeholder="Search By Department Name" data-search-url="/Department/Search" data-target-table="table" name="SearchInput" class="form-control" />
    </div>
</form>


<a asp-action="Create" asp-controller="Department" class="btn btn-primary my-3">Create Department</a>

@if(Model.Count() > 0){
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Date of Creation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>@item.CreateAt</td>
                    <partial name="_buttonsPartialView" model="@item.Id.ToString()" />
                </tr>
            }
        </tbody>
    </table>
}else{
    <h4 class="mt-4 alert alert-danger"> There Are No Department :(</h4>
}


